.jumbotron {
    background-image: url(imgg/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 1100px;
    text-align: center;
    margin-top: -250px;
}
.jumbotron .display-4 {
    color: white;
    margin-top: 400px;
}
.jumbotron .lead {
    color: white;
    margin-top: 30px;
}
.btn {
    width: 12%;
}